.numeros    {
    display: flex;

    justify-content: center;
}

.numero   {
    align-items: center;

    background-color: #488138;

    border-radius: 50%;

    color: #FFFFFF;

    display: flex;

    height: 50px;

    justify-content: center;

    margin: 0 5px 0;

    width: 50px;
}

.entrada    {
    margin: 10px 0;
}

input   {
    width: 50px;
}

button  {
    background-color: #D6147C;

    border: none;

    border-radius: 20px;

    color: #FFFFFF;

    cursor: pointer;

    padding: 10px;
}

button:hover    {
    background-color: #B9006E;
}